################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

**/bin
**/obj
/Detective/Content/obj/DesktopGL/net9.0/Content/.mgstats
/Detective/Content/obj/DesktopGL/net9.0/Content/default.mgcontent
